<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Add Answer View - Quiz Manager</title>
		
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="fragments/header :: header"></div>
			<div class="page-header">
				<h1>Add Answer</h1>
			</div>
			<h2 id="quizHeader" th:text="'Question: ' + ${question.question}" th:data-quizid="${quiz.id}"th:data-questionid="${question.id}"></h2></br>
			
		    <label for="answer"><b>Answer:</b></label>
		    <input id="answerInput" type="text" name="answer" placeholder="e.g. Purple" required /> <br/>
			<br/>
			<label for="correct"><b>Correct:</b></label>
		    <input id="correctInput" type="text" name="correct" value="false" required disabled/> <br/>
			
			<br/>
			<div class="answer-actions">
		    	<button id="addAnswerBTN">Submit Answer</button>
		    </div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/script.js"></script>
</html>